/*debug stuff*/

.border {
    border: 1px solid red;
}

/*MAIN STUFF*/

:root {
    /*color palette */
    --bcg-color: rgb(255, 255, 255);
    --text-color: rgb(0, 0, 0);
    --header-green: rgb(22, 74, 65);
    --main-green: rgb(217, 219, 198);
    --nav-green: rgb(77, 119, 78);
    --shadow-color: rgb(0, 0, 0, 0.3);
    --shadow-color-light: rgb(0, 0, 0, 0.15);
    --gray: rgb(200, 200, 200);

    /*transitions time*/
    --delay-short: 200ms;
    --delay-mid: 500ms;
    --delay-long: 1000ms;
}

:root[data-theme="dark"] {
    --text-color: rgb(255, 255, 255);
    --bcg-color: rgb(60, 63, 65);
}


*, *::before, *::after {
    box-sizing: border-box;
    font-family: Alaska,sans-serif;
}

body {
    margin: 0 auto;
    background-image: url("../images/bcg_1.png"), url("../images/bcg_n.png");
    background-size: contain;
    background-repeat: no-repeat, repeat;
}

p, h1, h2, h3 {
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

hr {
    border: 1px solid var(--header-green)
}

.shadow {
    box-shadow: 0 0.22em 1em var(--shadow-color);
}

.shadow-light {
    box-shadow: 0 0.22em 1em var(--shadow-color-light);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.no-margin {
    margin: 0;
}

html {
    overflow-x: hidden;
}

/*HEADER*/

.header-logo {
    display: flex;
    height: 4em;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.inner-header {
    padding: 0.5em 1.5em 1.5em 0.5em;
    border-bottom-right-radius: 100%;
    background: var(--header-green);

}

/*NAVIGATION*/

.dropdown-btn {
    display: flex;
    border-radius: 50%;
    transition: var(--delay-mid);
    transform: rotate(90deg);
}

.dropdown-img {
    height: 2em;
}

.nav-btn-border {
    padding: 0.5em 0.5em 1em 1em;
    border-bottom-left-radius: 100%;
    background: var(--header-green);
    position: relative;
    z-index: 2;
}

.nav-wrapper {
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: var(--delay-mid);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.dropdown-nav {
    position: relative;
    padding: 1em;
    z-index: 1;
    margin-right: 4em;
}

.nav-bck {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: var(--delay-mid);
}

/*MAIN*/

.main-wrapper {
    padding: 1em;
    text-align: justify;
}

.index {
    --offset: 0.5em;
    padding: calc(var(--offset));
    margin-left: calc(var(--offset) * -1);
    border-radius: 0.25em;
}

/*SMOL IMG*/

.img-left {
    float: left;
    margin-right: 1em;
}

.img-right {
    float: right;
    margin-left: 1em;
}

.img-gallery-small {
    height: 100px;
    position: relative;
}

.img-gallery-small img {
    height: 100%;
    width: 100%;
}

/*BIG IMG*/

.img-gallery-big {
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;   /*above everything*/
    transform: scale(0);
}

.big-gallery-inner {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.big-gallery-inner img {
    width: 100%;
}

.arrows-div {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    z-index: 1;
}

.arrow {
    height: 2em;
    width: 2em;
    background-size: contain;
    cursor: pointer;
    background-image: url("../images/dropdown.png");
    transform: scale(0);
    /*TODO set the scale of arrows to 0 if there is only one img (js)*/
}

/*HOVER*/

@media screen and (hover) {
    .nav-btn-border:hover {
        cursor: pointer;
    }
}