/*debug stuff*/

.border {
    border: 1px solid red;
}

/*MAIN STUFF*/

:root {
    /*color palette */
    --bcg-color: rgb(255, 255, 255);
    --text-color: rgb(0, 0, 0);
    --header-green: rgb(92, 110, 94);
    --main-green: rgb(217, 219, 198);
    --nav-green: rgb(207, 211, 188);
    --shadow-color: rgb(0, 0, 0, 0.3);
    --gray: rgb(200, 200, 200);

    /*transitions time*/
    --delay-short: 200ms;
    --delay-mid: 500ms;
    --delay-long: 1000ms;
}

:root[data-theme="dark"] {
    --text-color: rgb(255, 255, 255);
    --bcg-color: rgb(60, 63, 65);
}


*, *::before, *::after {
    box-sizing: border-box;
    font-family: Alaska,sans-serif;
}

body {
    background: var(--bcg-color);
    margin: 0 auto;
}

p, h1, h2, h3 {
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

hr {
    border: 1px solid var(--gray)
}

.shadow {
    box-shadow: 0 0.22em 1em var(--shadow-color);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*HEADER*/

header {
    background: var(--header-green);
    position: relative;
    z-index: 2;
}

.header-wrapper {
    padding: 1em;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    place-items: center;
}

.logo-img img {
    width: 4em;
}

/*NAVIGATION*/

nav {
    background: var(--nav-green);
    z-index: 1;
    position: absolute;
    width: 100%;
    transition: var(--delay-mid);
    transform: translateY(-100%);
}

.nav-wrapper {
    padding: 1em;
}

.shown {
    transition: var(--delay-mid);
}

/*DROPDOWN*/

.nav-dropdown-button img{
    height: 3em;
}

.nav-dropdown-button {
    transition: var(--delay-mid);
    display: flex;
}

/*MAIN*/

body {
    background: var(--main-green);
}

.main-wrapper {
    padding: 1em;
    text-align: justify;
}

.index {
    --offset: 0.5em;
    border: 1px solid black;
    padding: calc(var(--offset));
    margin-left: calc(var(--offset) * -1);
    border-radius: 0.25em;
    background: var(--nav-green);
}