/*debug stuff*/

.border {
    border: 1px solid red;
}

/*MAIN STUFF*/

:root {
    /*color palette */
    --bcg-color: rgb(255, 255, 255);
    --text-color: rgb(0, 0, 0);
    --main-green: rgb(217, 219, 198);
    --nav-green: rgb(77, 119, 78);
    --shadow-color: rgb(0, 0, 0, 0.3);
    --shadow-color-light: rgb(0, 0, 0, 0.15);
    --gray: rgb(200, 200, 200);

    /*transitions time*/
    --delay-short: 200ms;
    --delay-mid: 500ms;
    --delay-long: 1000ms;
}

:root[data-theme="dark"] {
    --text-color: rgb(255, 255, 255);
    --bcg-color: rgb(60, 63, 65);
}


*, *::before, *::after {
    box-sizing: border-box;
    font-family: Alaska,sans-serif;
}

body {
    margin: 0 auto;
}

p, h1, h2, h3 {
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

hr {
    border: 1px solid var(--text-color)
}

.shadow {
    box-shadow: 0 0.22em 1em var(--shadow-color);
}

.shadow-light {
    box-shadow: 0 0.22em 1em var(--shadow-color-light);
}

.no-margin {
    margin: 0 auto;
}

/*NAVIGATION*/

nav {
    background-color: #74946b;
}

.inner-nav {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.nav-links-space {
    display: grid;
    gap: 2em;
    grid-auto-flow: column;
}

.nice-link {
    transition: var(--delay-short) ease;
}

.nice-link:hover {
    text-decoration: underline;
    /*font-size: 110%;*/
    transition: var(--delay-short) ease;
}

/*MAIN*/


main {
}

.main-wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
}

/*ADMINS PAGE*/

.editing-options-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    grid-gap: 1em;
}

/*PLANT*/

.plant-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*PLANT LIST*/

.plant-link {
    position: relative;
}

.plant-link-editing {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/*ICONS*/

.icon {
    height: 1em;
}

/*LOGIN*/

.login-form-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*IMAGE GALLERY*/

.img-gallery {
    overflow-x: auto;
}

.swiper {
    /*max-height: 300px;*/
}

.my-inner-slide {
    height: 300px;
}

.my-inner-slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*EDIT IMAGES*/

.delete-images-inner {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto auto auto auto
}

.delete-img-frame {
    border: 3px dotted black;
    overflow: hidden;
    height: 200px;
}

.delete-img-frame img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.confirm-delete-prompt {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 20em;
    min-height: 5em;
    background: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed red;
    border-radius: 1em;
    padding: 1em;
}

.options-container {
    width: 90%;
    display: flex;
    justify-content: space-around;
}